.cards{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    padding: 10px 0 0;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    background-color: #54acde;
}

.card-label {
    padding: 0 20px;
    font-size: 30px !important;
    color: white;
    margin-bottom: 10px;
}

.card-info {
    padding: 20px 20px 30px;
    background-color: #21678e;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}