.wrapper-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-left-menu {
    margin: auto 0;
    width: 70%;
    max-height: 700px;
    height: 100%;
}

.menu-title {
    text-align: left !important;
    font-size: 40px;
}

.menu-lists {
    margin: auto 0;
    list-style: none;
    margin-bottom: 50px;
}

.menu-item , .header-actions-title {
    cursor: pointer;
    font-size: 20px;
    padding: 10px 5px;
    color: white;
    text-align: center;
}

.menu-item:hover {
    color: rgb(170, 168, 174);
    border-bottom: 1px solid  rgb(170, 168, 174);
    border-width: 50%;

}

.menu-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (max-width: 1000px) {
    /* place here CSS for when the screen is less than 1000px wide */

    .wrapper-left-menu {
        margin: 0;
    }

    .left-top {
        margin: 0;
    }

    .wrapper-left-menu {
        margin: 0;
    }

    .menu-title {
        font-size: 20px !important;
    }


}

@media only screen and (max-width: 474px) {
    /* place here CSS for when the screen is less than 1000px wide */

    .wrapper-left {
        padding-left: 100px;
    }

    
}